header.header
	.header__top
		.container
			.top-menu.clearfix
				ul.top-menu__list
					li.top-menu__item
						a.top-menu__link.flag(href="#")
							span.top-menu__text english
					li.top-menu__item
						a.top-menu__link(href="#")
							i.fa.fa-usd(aria-hidden="true")
							span.top-menu__text usd
					li.top-menu__item
						a.top-menu__link(href="#")
							i.fa.fa-truck(aria-hidden="true")
							span.top-menu__text track your order
					li.top-menu__item
						a.top-menu__link(href="#")
							i.fa.fa-map-marker(aria-hidden="true")
							span.top-menu__text store locator
				.top-menu__right
					a.top-menu__link.login(href="#")
						span.top-menu__text login
					a.top-menu__link.sign-up(href="#")
						span.top-menu__text sigh up
					a.top-menu__link.card(href="#")
						i.fa.fa-shopping-cart(aria-hidden="true")
						
	.header__bottom
		.container