nav.nav
	.container.container__nav
		.site-header spedo
		.nav__left
			ul.menu__list
				li.menu__item
					a(href="#") home
				li.menu__item
					a(href="#") catalog
				li.menu__item
					a(href="#") about
				li.menu__item
					a(href="#") prices
				li.menu__item
					a(href="#") blog
				li.menu__item
					a(href="#") contact
		.nav__right
			input(type="search")