nav.nav
	.container.container__nav.clearfix
		.site-header spedo
		.main-menu
			ul.main-menu__list
				li.main-menu__item
					a(href="#") home
				li.main-menu__item
					a(href="#") catalog
				li.main-menu__item
					a(href="#") about
				li.main-menu__item
					a(href="#") prices
				li.main-menu__item
					a(href="#") blog
				li.main-menu__item
					a(href="#") contact
		.search
			input(type="search" placeholder="search")
			<button type="submit"></button>