section.products
	.container.clearfix
		.site-header.products__header our products
		.slider__text.products__text new products every fucken day
		ul.products__list
			li.products__item
				.products__action
					.products__action-transparent
					.products__action-white
						.product__promo.product__promo_action
							.products__title
								span.slider__text fantastic black dress
								span.slider__text.grey party dress
							span.products__price 99$
						.products__sizes
							span.slider__text.products__sizes-text sizes
							span.slider__text.grey xs, sm, i, xl, xxl
						.products__color
							span.slider__text color
							span
								img.products__color-img(src="../images/Ellipses.png")
				.products__img
					img.products__pic(src="../images/gothic_girl.png")
				.product__promo
					.products__title
						span.slider__text fantastic black dress
						span.slider__text.grey party dress
					span.products__price 99$
			li.products__item
				.products__action
					.products__action-transparent
					.products__action-white
						.product__promo.product__promo_action
							.products__title
								span.slider__text fantastic black dress
								span.slider__text.grey party dress
							span.products__price 99$
						.products__sizes
							span.slider__text.products__sizes-text sizes
							span.slider__text.grey xs, sm, i, xl, xxl
						.products__color
							span.slider__text color
							span
								img.products__color-img(src="../images/Ellipses.png")
				.products__img
					img.products__pic(src="../images/m1.png")
				.product__promo
					.products__title
						span.slider__text fantastic jeans
						span.slider__text.grey summer dress
					span.products__price 99$	
			li.products__item
				.products__action
					.products__action-transparent
					.products__action-white
						.product__promo.product__promo_action
							.products__title
								span.slider__text fantastic black dress
								span.slider__text.grey party dress
							span.products__price 99$
						.products__sizes
							span.slider__text.products__sizes-text sizes
							span.slider__text.grey xs, sm, i, xl, xxl
						.products__color
							span.slider__text color
							span
								img.products__color-img(src="../images/Ellipses.png")
				.products__img
					img.products__pic(src="../images/m3.png")
				.product__promo
					.products__title
						span.slider__text fantastic beat
						span.slider__text.grey winter dress
					span.products__price 99$	
			li.products__item
				.products__action
					.products__action-transparent
					.products__action-white
						.product__promo.product__promo_action
							.products__title
								span.slider__text fantastic black dress
								span.slider__text.grey party dress
							span.products__price 99$
						.products__sizes
							span.slider__text.products__sizes-text sizes
							span.slider__text.grey xs, sm, i, xl, xxl
						.products__color
							span.slider__text color
							span
								img.products__color-img(src="../images/Ellipses.png")
				.products__img
					img.products__pic(src="../images/Model 7.png")
				.product__promo
					.products__title
						span.slider__text fantastic black dress
						span.slider__text.grey party dress
					span.products__price 99$	
			li.products__item
				.products__action
					.products__action-transparent
					.products__action-white
						.product__promo.product__promo_action
							.products__title
								span.slider__text fantastic black dress
								span.slider__text.grey party dress
							span.products__price 99$
						.products__sizes
							span.slider__text.products__sizes-text sizes
							span.slider__text.grey xs, sm, i, xl, xxl
						.products__color
							span.slider__text color
							span
								img.products__color-img(src="../images/Ellipses.png")
				.products__img
					img.products__pic(src="../images/Model 10.png")
				.product__promo
					.products__title
						span.slider__text fantastic jeans
						span.slider__text.grey summer dress
					span.products__price 99$	
			li.products__item
				.products__action
					.products__action-transparent
					.products__action-white
						.product__promo.product__promo_action
							.products__title
								span.slider__text fantastic black dress
								span.slider__text.grey party dress
							span.products__price 99$
						.products__sizes
							span.slider__text.products__sizes-text sizes
							span.slider__text.grey xs, sm, i, xl, xxl
						.products__color
							span.slider__text color
							span
								img.products__color-img(src="../images/Ellipses.png")
				.products__img
					img.products__pic(src="../images/Model 4.png")
				.product__promo
					.products__title
						span.slider__text fantastic beat
						span.slider__text.grey winter dress
					span.products__price 99$	