section.slider
	.container.container__nav
		.sliders
			.slider__text next april
			.site-header.slider__header fresh collection  for summer.
			.slider__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molest, perferendis ipsum dolor.
			a.button.slider__button(href="#") shop now
		.slider__controls
			label(for="btn-1")
			label(for="btn-2")