<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet")
	link(rel="stylesheet", href="css/main.css")
	title Spedo
body
	input(type="radio" name="radio" id="btn-1" checked)
	input(type="radio" name="radio" id="btn-2")
	include sections/header
	.wrapper
		include sections/nav
		include sections/slider
	include sections/bestof
	include sections/products
	