.header
	overflow: hidden
.header__top 
	background-color: #000
	

.top-menu
	padding: 32px 0

.top-menu__list
	display: flex
	justify-content: space-between
	width: 605px
	float: left
	margin: 0
	padding: 0

.top-menu__item
	display: inline-block
	vertical-align: top
	// border-right: 1px solid cyan


	&:nth-child(1)
		padding-left: 49px


.top-menu__right
	float: right
	vertical-align: top

.top-menu__link
	display: inline-block
	vertical-align: top
	font-family: 'Montserrat', sans-serif
	font-weight: 700
	font-size: 0.75rem
	line-height: 1.5rem
	letter-spacing: 0.075rem
	position: relative
	text-transform: uppercase
	color: #fff

	i
		margin-right: 12px

	&:hover
		color: #ccc
	&:active
		color: darken(#ccc, 20%)

.flag::before
	top: 3px
	left: -48px 
	position: absolute
	content: ""
	display: table
	width: 25px
	height: 16px
	background-image: url("../images/flag.jpg")


.login
	margin-right: 30px

.sign-up
	margin-right: 80px

.card
	position: relative
	margin-right: 25px
	&::after
		position: absolute
		top: -7px
		right: -7px
		width: 24px
		height: 20px
		border-radius: 50%
		background-color: red
		color: #fff
		text-align: center
		font-size: 7px
		display: table
		content: "1"

