.nav
	padding: 100px 0

.site-header
	font-family: Georgia
	font-size: 2.25rem
	line-height: 1.875rem
	font-weight: bold
	text-transform: uppercase
	text-align: center
	margin-bottom: 100px

.menu__item
	display: inline-block

	a
		font-family: Georgia
		color: #818181
		text-transform: uppercase
		letter-spacing: 0.075rem

.nav__left
	float: left 

.nav__right
	float: right