.products__header
	margin-bottom: 17px

.products__list
	display: flex
	justify-content: space-between
	flex-wrap: wrap

.products__item
	position: relative
	margin-bottom: 63px

.products__pic
	display: block
	
.products__text
	margin: 0 auto 95px
	font-size: 14px
	line-height: 18px
	letter-spacing: 0.025rem
	text-align: center
	width: 270px

.product__promo
	display: flex
	justify-content: space-between
	align-items: center
	box-sizing: border-box
	position: absolute
	bottom: 0
	width: 359px
	padding: 17px 25px
	background-color: pink

.products__title
	span
		font-size: 14px
		line-height: 18px
		text-align: left
		display: block
		margin: 0
		color: #000
	.grey
		color: #4b564d

.products__price
	text-align: right
	font-family: 'Montserrat'
	font-size: 24px
	line-height: 18px
	font-weight: bold
	color: cyan
	
		
	